---
interface Props {
  formatName: string;
  formatYear: string;
}

const { formatName, formatYear } = Astro.props;
---

<section class="hero">
  <div class="container">
    <h2>2026 got you down?</h2>
    <p class="intro">
      Do you long for a simpler time, before the world went to shit? Do you miss Sundays with Cedric and Patrick? Do you want to activate Deathrite Shaman?
    </p>
    <p class="intro-secondary">
      Welcome back to {formatYear}!
    </p>
    <p class="hero-body">
      {formatName} is an unofficial, community-run format that seeks to recreate the Magic of the Legacy format in {formatYear}
    </p>

    <div class="two-column">
      <div class="column negatives">
        <h3>What you won't find in {formatName}:</h3>
        <ul>
          <li>Constant influx of new cards</li>
          <li>FIRE Design</li>
          <li>Multiplayer Mechanics</li>
          <li>Universes Beyond</li>
        </ul>
      </div>

      <div class="column positives">
        <h3>What you will find in {formatName}:</h3>
        <ul>
          <li>A stable, well-defined format</li>
          <li>Classic Magic design philosophy</li>
          <li>Pure 1v1 competitive play</li>
          <li>Magic's own universe and lore</li>
        </ul>
      </div>
    </div>

    <p class="format-details">
      The last legal set is <em>Eldritch Moon</em>. <em>Conspiracy: Take the Crown</em> is not legal
    </p>
  </div>
</section>
